* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}